.todo-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./asset/premium_photo-1683309568772-57011d6c1b7b.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-card {
  width: 32rem;
  text-align: center;
  padding: 1.25rem;
  border-radius: .5rem;
  background: white;
  box-shadow: 0px 4px 10px;
}
